#mainTop{
  background-image: url(https://wallpapercave.com/wp/RAIPZfH.jpg);
  width: 100%;
  height: 100vh;
   background-repeat: repeat-y;
}

#sectionA {
  background: rgba(25, 238, 227, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.9px);
  -webkit-backdrop-filter: blur(9.9px);
  border: 1px solid rgba(25, 238, 227, 0.27);
  display: flex;
  justify-content: space-between;

}

#sectionA img {
  justify-content: space-evenly;
}

#sectionA h2 {
  padding-right: 80px;
  color: #522bd5;
}

#sectionB {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 5fr 1.2fr;
  gap: 30px;
}

#sectionB1 {
  margin: 15px 0px 15px 15px;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 90px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

#sectionB2 {
  margin: 15px 0px 15px 0px;
  background: rgba(255, 255, 255, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

#sectionB3 {
  margin: 15px 15px 15px 0px;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 90px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

#sectionB h2 {
  color: #522bd5;
  background-color: linear-gradient(to right, #77e4f0, #c3e5ea);
}

p {
  text-align: left;
  padding-left: 50px;
}

#main {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  background-color: aliceblue;
  padding: 15px;
  border-radius: 5px;
  margin: 15px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

#input_new_sprint {
  font-size: 15px;
  padding: 15px;
  border-radius: 15px 0px 0px 15px;
  border: none;
  margin-top: 0px;
  margin-bottom: 0px
}

#input_sprint {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  padding: 15px;
  border-radius: 0px 15px 15px 0px;
  border: none;
  background-color: #a9edf5;
  display: inline;
}

#new_sprint {
  display: flex;
  padding: 5px;
  gap: 2px
}

#remove {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  padding: 12px 15px;
  border-radius: 15px;
  border: none;
  background-color: #a9edf5;
  display: inline;
}

#update {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  padding: 12px 15px;
  border-radius: 0px 15px 15px 0px;
  border: none;
  background-color: #a9edf5;
  display: inline;
}

#addbtn {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 50px;
  border: none;
  background-color: #b7a7ed;
  display: inline;
}

#inputting {
  font-size: 15px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  margin-right: 25px;
  margin-top: 15px;
}

#sprint_main {
  display: flex;
  justify-content: space-around;
}

#user_main {
  display: flex;
  justify-content: space-around;
}